img {max-width: 100%;
	max-height: 100%;}
/*----------------MOBILE---------------*/
header		{height: 70px;
			width: 100%;
			background-color: #cccccc;
			position: fixed;}

header p 	{color: #ededed;
			font-family: 'Baloo Bhaina', cursive;
			font-size: 24px;}
footer

.carousel 	{display: none;}
.cycle-slideshow 	{display: none;}

.main 		{height: 100%;
			width: 100%;}

.rightside	{height: 100%;
			width: 5%;
			background-color: #555555;
			display: block;
			position: fixed;
			left: 95%;}



.leftside	{height: 100%;
			width: 5%;
			background-color: #555555;
			position: fixed;}

.bio 		{height: 345px;
			width: 100%;
			background-color: #cccccc;
			position: relative;
			display: inline-block;}
.bio-content {display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding: 12px 16px;
			z-index: 1;
			color: #ededed;
			font-family: 'Baloo Bhaina', cursive;}
.bio:hover .bio-content {display: block;}
a:visited	{color:#555555;}


/*------------Midsection----------------*/
.middle		{height: 100%;
			width: 90%;
			background-color: #ededed;
			float: right}

.titlespace	{width: 100%;
			height: 100px;}

.imagespace	{height: 185px;
			width: 185px;
			margin: auto;}

.descspace	{height:600px; 
			width:200px;
			margin: auto;
			text-align: center;}

/*----------------Isola------------------*/
.middleIsola{height: 100%;
			width: 90%;
			background-color: #ededed;
			float: right}

.videospaceIsola	{display: none;}

.rightsideIsola	{height: 100%;
			width: 5%;
			background-color: #555555;
			display: block;
			position: fixed;
			left: 95%;}
.leftsideIsola	{height: 100%;
			width: 5%;
			background-color: #555555;
			position: fixed;}
.vidtextIsola {display: none;}


/*----------------Morbus------------------*/
.middleMorbus{height: 100%;
			width: 90%;
			background-color: #ededed;
			float: right}

.videospaceMorbus	{display: none;}

.rightsideMorbus	{height: 100%;
			width: 5%;
			background-color: #555555;
			display: block;
			position: fixed;
			left: 95%;}
.leftsideMorbus	{height: 100%;
			width: 5%;
			background-color: #555555;
			position: fixed;}
.vidtextMorbus {display: none;}















/*---------------------------------DESKTOP-----------------------------------------*/

@media only screen and (min-width:800px) {
header		{height: 70px;
			width: 100%;
			background-color: #cccccc;
			position: relative;}
header p 	{color: #ededed;
			font-family: 'Baloo Bhaina', cursive;
			font-size: 48px;
			padding: 20px;}

footer

body 		{display: flex;
			align-content:column;}

.main 		{height: 100%;
			width: 100%;
			display: flex;
			align-content:row;}

.carousel 	{height: 215px;
			width: 100%;
			background-color: #ededed;
			display: flex;
			align-content:row;
			justify-content:space-around;}
.cycle-slideshow 	{display: block;}

.caronav	{height: 30px;
			width: 100%;
			background-color: #cccccc;
			display: flex;
			align-content: row;
			justify-content: flex-start;}

.navbutton	{height: 30px;
			width: 80px;
			background-color: #ededed;
			margin-right: 5px; 
			text-align: center;
			font-family: 'Baloo Bhaina', cursive;
			color: #555555;}

.navbutton p {padding: 10px;
				color:#555555;}

a:visited	{color:#555555;}

.leftside	{height: 100%;
			width: 270px;
			background-color: #555555;
			position: relative;}
.spacer 	{width: 268px;
			height: 30px;}

.bio		{height: 345px;
			width: 100%;
			background-color: #cccccc;}
.bio-content {display: none;}
.bio:hover .bio-content {display: none;}

.profile	{width: 256px;
			height: 256px;
			background-image: url(../images/BioImage.jpg);
			background-repeat: no-repeat;
			background-size:cover;
			margin: auto;
			text-align: center;
			border-style: solid;
			border-width: 2px;
			border-color: #000000;}

			
/*------------Midsection----------------*/
.middle		{height: 100%;
			width: 1380px;
			background-color: #ededed;}


.titlespace	{width: 100%;
			height: 100px;
			font-family: 'Baloo Bhaina', cursive;
			text-align: center;
			font-size: 48px;
			color: #555555;}

.titlespace p {padding: 30px;}

.imagespace	{height: 450px;
			width: 800px;
			margin: auto;}

.descspace	{height:200px; 
			width:700px;
			margin: auto;
			text-align: center;}

.rightside	{height: 100%;
			width: 270px;
			background-color: #555555;
			display: block;
			position: relative;
			left:0;}
.dropbtn	{display: none;}

/*------------Isola----------------*/
.middleIsola{height: 225%;
			width: 1380px;
			background-color: #ededed;}

.videospaceIsola	{height: 270px;
			width: 480px;
			margin: auto;
			display: block;}
.vidtextIsola {display: block;}

.leftsideIsola	{height: 225%;
			width: 270px;
			background-color: #555555;
			position: relative;}		

.rightsideIsola	{height: 225%;
			width: 270px;
			background-color: #555555;
			display: block;
			position: relative;
			left:0;}

/*------------Morbus----------------*/
.middleMorbus{height: 225%;
			width: 1380px;
			background-color: #ededed;}

.videospaceMorbus	{height: 270px;
			width: 480px;
			margin: auto;
			display: block;}
.vidtextMorbus {display: block;}

.leftsideMorbus	{height: 225%;
			width: 270px;
			background-color: #555555;
			position: relative;}		

.rightsideMorbus	{height: 225%;
			width: 270px;
			background-color: #555555;
			display: block;
			position: relative;
			left:0;}
}
